 <div class="container">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="form-signin-heading">Ingresa a Bitsket</h1>
          <% if !alert.nil?  || !alert.blank? %>
            <div class="alert alert-danger"><%= alert %></div>
          <% end %>
        </div>
        <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html=>{:class =>"form-signin"}) do |f| %>
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder:"mcdinero@bitsket.com.mx" %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder:"Password" %>
          <%= f.submit "Ingresa", class: "btn btn-lg btn-primary btn-block"%>
        <% end %>
      </div>
  </div>
</div> <!-- /container -->







<%= render "devise/shared/links" %>
